<h2>new post</h2>

<%= form_for :prompt, url: prompts_path do |f| %>
<% if @prompt.errors.any? %>
<div id="errors">
<h2><%= pluralize(@prompt.errors.count, "error") %>
prevented this prompt from saving</h2>
<ul>
<% @prompt.errors.full_messages.each do |msg| %>
<li><%= msg %></li>

      <% end %>
    </ul>
  </div>
<% end %>

<p>
<%= f.label :title %><br>
<%= f.text_field :title %><br>
</p>

<p>
<%= f.submit %>
</p>
<% end %>
